<div class="container-fluid col-xxl-8 px-4 py-5" id="hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      </div>
      <div class="col-lg-6">
        <div class="hero-content">
          <h1 class="display-5 fw-bold lh-1 mb-3"><%= content %></h1>
          <p class="lead"><%= message %></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-light btn-lg px-4 me-md-2" id="hero-btn">View Collection</button>  
          </div>
        </div>
      </div>
    </div>
  </div>
  